/* For now i'll use css, maybe ill change it to tailwind later */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #169886;
}

div {
    display: flex;
}




/* TOOL BAR */
.toolbarOuter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  z-index: 1000;
}

.startWindow {
  position: absolute;
  bottom: 28px;
  left: 4px;
  width: 256px;
  display: flex;
  flex: 1;
  box-sizing: border-box;

  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;

  background-color: #d3d3d3;
}

.verticalStartContainer {
  height: 100%;
  background-color: #333333;
}

.verticalText {
  font-family: Terminal;
  font-size: 32px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
  padding-bottom: 64px;
  letter-spacing: 1px;
  color: #d3d3d3; 

  transform: scale(-1);
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);

  writing-mode: tb-rl;
  text-orientation: sideways;
}

.startWindowContent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.startMenuSpace {
  flex: 1;
}

.startMenuLine {
  height: 1px;
  background-color: #ffffff; 
  border-top: 1px solid #333333;
}

/* moved the toolbar css */


