* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --button-highlight: #ffffff;
    --button-face: #747474;
    --button-shadow: #808080;
    --window-frame: #2b2b2b;
    --surface: #c0c0c0;
    --surface-hover: #e9e9e9;
    --border-field: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
        inset 2px 2px var(--window-frame);
    --border-raised-outer: inset -1px -1px var(--window-frame),
        inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-face);
}


/* FONT IMPORTS */
@font-face {
    font-family: Terminal;
    src: url(./assets/fonts/Terminal.ttf);
}

@font-face {
    font-family: MSSerif;
    src: url(./assets/fonts/MSSansSerif.ttf);
}

@font-face {
    font-family: MillenniumBold;
    src: url(./assets/fonts/Millennium-Bold.ttf);
}

@font-face {
    font-family: Millennium;
    src: url(./assets/fonts/Millennium.ttf);
}
@font-face {
    font-family: Lores15BoldAltOakland;
    src: url(./assets/fonts/LoRes15OTAltOakland-Bold.ttf);
}


/* browswer default rules */
* {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    font-family: Millennium, 'Times New Roman', Times, serif;
    font-size: 18px;
}

p b {
    font-family: MillenniumBold, 'Times New Roman', Times, serif;
}



h1 {
    font-family: gastromond, sans-serif;
    font-size: 64px;
}

h2 {
    font-family: MillenniumBold, 'Times New Roman', Times, serif;
    font-size: 32px;
}

h3 {
    font-family: MillenniumBold, 'Times New Roman', Times, serif;
    font-size: 24px;
    letter-spacing: 0px;
}

h4 {
    font-family: MillenniumBold, 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: 0px;
}

li {
    margin-bottom: 16px;
}

/* no highlight */
.no-hi {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* TOOLBAR CSS */
.toolbar-text {
    font-family: Lores15BoldAltOakland;
    font-size: 18px;
    color: black;

    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

.start-menu-option:hover {
    background-color: #0000aa;
    cursor: pointer;
}

.start-menu-option:hover,
.start-menu-option:hover * {
    color: white ;
}


/* WINDOWS CSS */
.showcase-header {
    font-family: Lores15BoldAltOakland;
    font-size: 15px;
    color: white;
}



.calendar  {
    display: grid;
    position: absolute;
    place-items: center;
    width: 100%;
    height: auto;
    background: #c5c4c4;
    overflow: hidden;
}
.calendar-box  {
    width: 100%;
    height: 85%;
}
/* CALENDAR CSS */

.red {
    background-color:  red;
}